<!-- Page displaying items the current user has sold. -->

{% extends 'base.html' %}

{% block header %}
  <!-- Jumbotron. -->
  <div class="jumbotron jumbotron-fluid card card-image text-white text-center" style="background-image: url(../static/Images/heroimage.png);">
    <h1 class="display-2">Sales History</h1>
  </div>
{% endblock %}

{% block content %}
  <section class="container-fluid py-3">
    <div class="row">
      <div class="col-12 px-0 px-md-5">
        <h4 class="p-3 mb-0 text-center text-secondary bg-warning">Sales History</h4>
        <!-- Table of listings. -->
        <div class="table-wrapper-scroll-y custom-scrollbar">
          {% if (listing is defined) and listing %}
            <table class="table table-bordered table-striped mb-0">
              <thead class="text-secondary">
                <tr>
                  <th scope="col">Listing Title</th>
                  <th scope="col">Date Listed</th>
                  <th scope="col">Date Sold</th>
                  <th scope="col">Buyer</th>
                  <th scope="col">Sale Price</th>
                </tr>
              </thead>
              <tbody>
                {% for s in listing %}
                  <tr>
                    <td>{{s.listing_title}}</td>
                    <td>{{s.date_posted}}</td>
                    <td>{{s.purchase_date}}</td>
                    <td>{{s.user_name}}</td>
                    <td>{{s.purchase_price}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <table class="table table-bordered table-striped mb-0">
              <thead class="text-secondary">
                <tr>
                  <th scope="col">You haven't sold anything yet!</th>
                </tr>
              </thead>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
